.journal {
  padding: 60px 20px;
  background: #f4f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal-title {
  font-size: 36px;
  margin-bottom: 40px;
  color: #0A192F;
}

.journal-card {
  width: 80%;
  max-width: 1000px;
  background: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.journal-card h2 {
  color: #2b6cb0;
  margin-bottom: 15px;
}

.journal-card ol {
  padding-left: 20px;
}

.journal-card li {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #1a202c;
  font-weight: 500; /* semi-bold */
  text-align: justify;
}
.journal-container p {
  text-align: justify;
  line-height: 1.8;
}
.journal-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.journal-text {
  flex: 1;
  text-align: justify;
}

.pdf-btn {
  white-space: nowrap;
  background: #2c5aa0;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s ease;
}

.pdf-btn:hover {
  background: #1e3f73;
}