.awards {
  padding: 60px 20px;
  background: #f4f7fb;
  text-align: center;
}

.awards-title {
  font-size: 34px;
  margin-bottom: 40px;
  color: #0A192F;
}

/* GRID */
.awards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: auto;
}

/* CARD */
.award-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
}



.award-card p {
  font-size: 15px;
  color: #0e0e0e;
  text-align: justify;
}



/* MOBILE */
@media (max-width: 768px) {
  .awards-container {
    grid-template-columns: 1fr;
  }
}
.academic-section {
  margin-top: 50px;
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.academic-section h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #0A192F;
}

/* SINGLE CARD */
.academic-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  border-left: 5px solid #2b6cb0;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
}

/* LIST STYLE */
.academic-card ul {
  padding-left: 18px;
}

.academic-card li {
  margin-bottom: 10px;
  line-height: 1.6;
  text-align: left;
  text-align: justify;
}

/* subtle hover */
.academic-card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}