/* GLOBAL RESET */
html, body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* MAIN CONTAINER */
.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 🔥 fixes top spacing */
  padding: 10px 60px 20px;
  background: #f8f7f7;
  box-sizing: border-box;
  gap: 40px;

  min-height: calc(100dvh - 60px);
}

/* LEFT CONTENT */
.home-left {
  max-width: 50%;
}

/* INTRO */
.intro {
  font-size: 22px;
  color: #555;
  margin: 0;
  margin-top: 80px;
}

/* NAME */
.name {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}

/* ROLE */
.roles {
  color: #2b6cb0;
  margin-bottom: 20px;
}

/* DESCRIPTION */
.description {
  color: #444;
  line-height: 1.6;
  margin-bottom: 25px;
  text-align: justify;
}

/* BUTTON */
.connect-btn {
  padding: 12px 25px;
  background: rgb(167, 235, 229);
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 40px;
}

.connect-btn:hover {
  background: #ea431e;
}

/* RIGHT IMAGE (DESKTOP) */
.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.home-right img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 3px solid #cabcbc;
  border-radius: 10px;
}

/* MOBILE IMAGE (hidden on desktop) */
.mobile-image {
  display: none;
}

/* ================= MOBILE VIEW ================= */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: flex-start;
    min-height: unset;
  }

  .home-left {
    max-width: 100%;
  }

  .intro {
    font-size: 18px;
    margin-top: 5px;
  }

  .name {
    font-size: 30px;
  }

  /* SHOW IMAGE BELOW NAME */
  .mobile-image {
    display: block;
    margin: 20px 0;
  }

  .mobile-image img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #cabcbc;
  }

  /* HIDE SIDE IMAGE */
  .home-right {
    display: none;
  }

  .description {
    text-align: justify;
  }

  .connect-btn {
    display: block;
    margin: 20px auto;
  }
}